
{% include "style_atas.html" %}
{% include "sub_menu.html" %}


            <div class="row">
               <div class="col-md-6">
              <div class="x_panel">
                <div class="x_title">
                  <h2><i class="fa fa-envelope-square"></i> FORM SARAN KE- <i class="fa fa-user"></i> (PAC)</h2>
                  
                  <div class="clearfix"></div>
                </div>
                
                <div class="x_content">
                  <ul class="list-unstyled msg_list">
                    {% for tampil_s in data_saran %}
                    <li>
                      <a>
                        <span class="image">
                          <img src="{{ foto.url }}" alt="img" />
                        </span>
                        <span>
                          <span>{{tampil.nama}}</span>
                          <span class="time"><i class="fa fa-check"></i> Saran</span>
                        </span>
                        <span class="message">
                          {{tampil_s.saran}}
                        </span>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                
                <table border="1" class="table">
                  <tr>
                    <td>
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="id_anggota" value="{{id_anggota}}">
                  <input type="hidden" name="nama_anggota" value="{{nama}}">
                  <textarea name="saran" placeholder="Enter Saran...!" required class="form-control" rows="5"></textarea>
                  <button type="submit" style="width: 100%" class="btn btn-xs btn-success"><i class="fa fa-level-up"></i> Send Messages</button>
                </form>
              </td>
            </tr>
              </table>
              
              </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
          
          {% include "style_bawah.html" %}
          