{% include "style_atas_pac.html" %}
{% include "sub_menu_pac.html" %}
            <div class="row">
              <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-upload"></i> INPUT DATA</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">NIK <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" name="nik" placeholder="Enter NIK (PC)" maxlength="16">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Nama Lengkap <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name" required="required" class="form-control col-md-7 col-xs-12" name="nama" placeholder="Enter Nama Lengkap">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Jenis Kelamin <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="last-name" required="required" class="form-control col-md-7 col-xs-12" name="jk">
                            <option value="">Select</option>
                            <option>Laki-Laki</option><option>Perempuan</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Alamat <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="birthday" class="form-control col-md-7 col-xs-12" required="required" name="alamat" placeholder="Enter Alamat Lengkap">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">No-HP <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="birthday" class="form-control col-md-7 col-xs-12" required="required" name="nohp" placeholder="Enter No-Hp" maxlength="12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Skretaris <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="birthday" class="form-control col-md-7 col-xs-12" required="required" name="skretaris" placeholder="Enter Nama Skretaris">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Foto (PC) <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="file" id="birthday" class="form-control col-md-7 col-xs-12" required="required" name="foto">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Keterangan <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea id="birthday" class="form-control col-md-7 col-xs-12" required="required" name="keterangan" placeholder="Enter Keterangan Pimpinan (PC)" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Submit</button>
                          <button class="btn btn-primary" type="reset"><i class="fa fa-repeat"></i> Reset</button>
                          <a href="{% url 'pimpinan' %}" class="btn btn-danger">
                           <i class="fa fa-close"></i> Cancel
                          </a>
						  
                          
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
            
{% include "style_bawah_pac.html" %}