{% include "style_atas.html" %}
{% include "sub_menu.html" %}

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-file-text"></i> FORM MENU LAPORAN</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      Silakan kelola laporan di halaman ini.?
                    </p>
            <div class="row top_tiles">
              <div class="animated flipInY col-lg-6 col-md-8 col-sm-8 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-file"></i></div>
                  <div class="count">Laporan Anggota</div>
                  <h3>Cetak Data</h3>
                  <a href="{% url 'lp_anggota' %}" class="btn btn-xs btn-success" target="_blank">
                    Cetak Laporan <i class="fa fa-print"></i>
                  </a>
                </div>
              </div>
              <div class="animated flipInY col-lg-6 col-md-8 col-sm-8 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-file"></i></div>
                  <div class="count">Laporan Organisasi</div>
                  <h3>Cetak Data</h3>
                  <a href="{% url 'lp_organisasi' %}" class="btn btn-xs btn-success" target="_blank">
                    Cetak Laporan <i class="fa fa-print"></i>
                  </a>
                </div>
              </div>
              <div class="animated flipInY col-lg-6 col-md-8 col-sm-8 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-file"></i></div>
                  <div class="count">Laporan Skretaris</div>
                  <h3>Cetak Data</h3>
                  <a href="{% url 'lp_skretaris' %}" class="btn btn-xs btn-success" target="_blank">
                    Cetak Laporan <i class="fa fa-print"></i>
                  </a>
                </div>
              </div>
              <div class="animated flipInY col-lg-6 col-md-8 col-sm-8 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-file"></i></div>
                  <div class="count">Laporan Bendahara</div>
                  <h3>Cetak Data</h3>
                  <a href="{% url 'lp_bendahara' %}" class="btn btn-xs btn-success" target="_blank">
                    Cetak Laporan <i class="fa fa-print"></i>
                  </a>
                </div>
              </div>
              <div class="animated flipInY col-lg-6 col-md-8 col-sm-8 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-file"></i></div>
                  <div class="count">Laporan Pembina</div>
                  <h3>Cetak Data</h3>
                  <a href="{% url 'lp_pembina' %}" class="btn btn-xs btn-success" target="_blank">
                    Cetak Laporan <i class="fa fa-print"></i>
                  </a>
                </div>
              </div>


                  </div>
                </div>
              </div>

					</div>
          </div>
          </div>
          </div>
          </div>

        </div>
{% include "style_bawah.html" %}